{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="container" style="padding-top: 50px">
  <div class="form-group" style="float: right; padding-top: 50px; margin-right: 12%">

    <label>Number of queens:</label><br>
    <select id="numQueens" class="form-control" style="width: 150%">
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
    </select>
    <br>

    <label>Algorithm:</label>
    <select id="method" class="form-control" style="width: 150%">
      <option>Recursive</option>
    </select>
    <br>

    <button type="button" class="button btn-primary btn-lg" id="solve">Submit!</button>
  </div>

  <div id="board1" style="width: 450px; float: left; margin-left: 27%"></div>
</div>

{% endblock %}

{% block scripts %}
{% csrf_token %}
<script>
var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>
<script src="{% static 'js/myboard.js' %}"></script>
{% endblock %}
